.header-withunderline,
.kit_selection .kit_lists {
    display: none
}

.body-wraper {
    float: left;
    width: 100%;
    padding: 30px 30px 0!important
}

.download-widget.mb-xxxx {
    margin-bottom: 0!important
}

.kit_selection {
    width: 85%;
    float: right
}

.kit_selection .Kit_wrapper {
    width: 75%;
    float: right
}

.kit_selection .kit_lists {
    float: right;
    width: 40%
}

.kit_selection .kit_lists h4 {
    width: 25%;
    float: left;
    margin: 0;
    font-size: 14px;
    padding: 6px 0 0;
    text-align: right
}

.kit_selection .Kit_wrapper ul {
    margin: 0;
    padding: 0;
    width: 100%
}

.kit_selection .Kit_wrapper ul li {
    list-style-type: none;
    width: 100%
}

.kit_selection .Kit_wrapper .dropdown .selectboxit-text {
    font-size: 14px
}

.kit_selection .Kit_wrapper .dropdown .selectboxit-container .selectboxit-options a,
.kit_selection .Kit_wrapper .dropdown .selectboxit-container span {
    color: #31363e;
    font-weight: 700;
    display: block;
    height: 32px;
    line-height: 2.3;
    text-transform: uppercase;
    background: #fff;
    overflow: hidden
}

.kit_selection .Kit_wrapper .dropdown .selectboxit-container .selectboxit {
    border: none
}

.kit_selection .Kit_wrapper .dropdown .selectboxit-list>.selectboxit-focus>.selectboxit-option-anchor {
    color: #fff!important;
    background-color: #31363e!important;
    font-size: .95em;
    text-indent: 0
}

.Kit_types h5,
.download_form .wrap h5 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 10px;
    font-weight: 400
}

.Kit_types h5 {
    color: #2d2d2d;
    border-bottom: 1px solid #d2d3d4;
    padding-bottom: 6px;
    width: 100%;
    display: block!important
}

.Kit_types {
    width: 100%;
    float: left;
    padding-bottom: 20px!important
}

.download_form .wrap h5 {
    color: #ce3030;
    border-bottom: 0;
    padding-bottom: 6px
}

.download_form .wrap input,
.download_form .wrap label {
    font-size: 14px;
    color: #31363e;
    font-weight: 700;
    display: inline-block
}

.form_input_section {
    width: 85%;
    margin: 0 auto
}

.download_form .wrap label {
    padding: 10px 0 5px;
    margin: 15px 20px;
    width: 120px
}

.download_form .wrap input {
    text-transform: capitalize;
    padding: 3px 0 3px 5px;
    margin: 0 0 0 20px;
    width: 55%;
    border-radius: 5px;
    border: 1px solid #ccc;
    vertical-align: text-top
}

.download_form .wrap .button {
    text-align: center;
    width: 36%;
    margin: 0 auto
}

.download_form .wrap .button button {
    font-size: 13px;
    background: #ce3030;
    color: #fff;
    text-transform: uppercase;
    display: block;
    padding: 7px 45px;
    margin: 15px 0 0 50px;
    border: none;
    text-align: center
}

#myList li,
.modal {
    display: none
}

.modal {
    position: fixed;
    z-index: 99999999;
    padding-top: 8%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4)
}

body.modal-open {
    overflow: hidden
}

.modal-content {
    background-color: #eaebec;
    margin: auto;
    padding: 35px;
    border: 4px solid #fff;
    width: 585px
}

.close {
    color: #fff;
    float: right;
    font-size: 32px;
    font-weight: 400;
    margin-top: 0;
    background: #38454f;
    height: 25px;
    line-height: 24px;
    padding: 0 5px;
    cursor: pointer
}

.Kit_types .loadmore,
.download-widget .loadmore {
    background: #31363e;
    color: #fff;
    width: 120px;
    padding: 5px 0;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center
}

.Kit_types .loadmore {
    margin: 0 auto
}

.download-widget .loadmore {
    margin: 0 auto 15px
}

.Kit_types ul {
    margin: 0;
    padding: 0;
}

.Kit_types ul li {
    float: left;
    width: 20%;
    list-style-type: none;
    margin: 20px 0px 10px 0;
    height: 220px;
}

.Kit_types ul li a {
    position: relative;
    display: inline-block;
    /* text-align: center; */
}

.Kit_types ul li a img {
    padding: 0!important;
    box-shadow: 0 5px 7px #ccc
}

.Kit_types ul li a .download_icon img {
    position: absolute;
    padding: 0;
    top: 146px;
    left: 99px;
    right: 0;
}

.Kit_types ul li h6 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #2d2d2d;
    text-align: center;
    margin: 0 auto;
    padding: 2px 0;
    width: 121px;
}

.header-withunderline {
    border-bottom: none!important;
    padding-bottom: 0;
    margin-bottom: 0
}

.Kit_wrapper .dropdown .selectboxit-default-arrow {
    background: url(../images/press_dropimage_black.png) no-repeat
}

@media screen and (max-width:1200px) {
    .kit_selection .kit_lists {
        width: 60%
    }
    .Kit_types ul li {
        width: 20%;
        margin: 20px 28px 10px 0
    }
}

@media screen and (max-width:780px) {
    section.Kit_types.categoryid_11368 {
        padding-left: 20px!important
    }
    .Kit_types ul li {
        width: 20%;
        margin: 20px 20px 10px 0
    }
    .aboutus .container {
        max-width: 98%
    }
    .kit_selection .kit_lists {
        width: 80%;
        padding-right: 15px
    }
    .body-wraper {
        padding: 15px 0 0 20px!important
    }
    .signup_widget .wrap input {
        width: 215px!important
    }
    .ui-tabs.ui-tabs-vertical .ui-tabs-nav {
        width: 8em!important
    }
    .Kit_types {
        padding-bottom: 15px!important;
        padding-top: 10px!important
    }
    .aboutus .page-title .right-item .print {
        display: none
    }
}

@media screen and (max-width:650px) {
    .Kit_types ul li a .download_icon img {
        right: 0;
    }
	.Kit_types ul li h6 {
    font-size: 13px;
    padding: 5px 0;
    width: auto;
}
    section.Kit_types.categoryid_11368 {
        padding-left: 0!important
    }
    .kit_selection .kit_lists {
        width: 100%
    }
    .aboutus .container {
        max-width: 90%
    }
    .col-sidebar {
        width: 90%;
        margin: 0 auto
    }
    .ui-tabs.ui-tabs-vertical .ui-tabs-nav {
        width: 13em!important
    }
    .signup_widget .wrap input {
        width: 88%!important
    }
    .Kit_types ul {
        margin: 0 auto;
        padding: 0;
        text-align: center
    }
    .bx-wrapper {
        margin: 0;
        padding: 0
    }
    .body-wraper {
        padding: 15px 12px 0!important
    }
    .Kit_types .loadmore {
        display: none
    }
    .Kit_types {
        padding-bottom: 15px!important;
        padding-top: 20px!important
    }
    .header-withunderline {
        display: block!important
    }
    .modal-content {
        padding: 20px 10px;
        width: 300px
    }
    .download_form .wrap h5 {
        margin: 30px 0 10px
    }
    .download_form .wrap label {
        padding: 10px 0 5px;
        margin: 0 20px;
        width: 100%
    }
    .download_form .wrap input {
        width: 85%
    }
    .download_form .wrap .button {
        text-align: left;
        width: 100%
    }
    .download_form .wrap .button button {
        padding: 7px 25px;
        margin: 18px 0 0 20px;
        text-align: left
    }
    .form_input_section {
        width: 100%
    }
}

@media screen and (max-width:380px) {
    .kit_selection {
        width: 100%;
        float: right
    }
    .aboutus .page-title h1 {
        font-size: 1.7em
    }
    .ui-tabs.ui-tabs-vertical .ui-tabs-nav {
        width: 11em!important
    }
}