.ShareHolders .container .ShareHolders-list .ShareHolders-list-wrap .col-left li, .ShareHolders .container .ShareHolders-list .ShareHolders-list-wrap .col-right ul li {
    padding: 0px 10px 10px 10px;
}
.ShareHolders .container .ShareHolders-list .ShareHolders-list-wrap .col-left {
    padding: 20px 0 0px 10px;

}

.share_holder_widget {
    width: 100%;
    float: left;
    margin: 7px 0 -8px 0;
}

.share_holder_widget .wrap ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.share_holder_widget .wrap ul li {
    padding: 0;
    width: 100%;
    float: left;
    background: #5d646c;
    margin: 5px 0;
}
.share_holder_widget .wrap ul li .col_left {
    width: 40%;
    float: left;
}
.share_holder_widget .wrap ul li .col_right {
    width: 60%;
    float: right;
        padding-top: 25px;
}
.share_holder_widget .wrap ul li .col_left img {
    max-width: 100%;
    display: block;
}
.share_holder_widget .wrap ul li h6 {
    font-size: 20px;
    text-transform: uppercase;
    color: #fbb514;
    margin: 0;
    padding: 0px 0 10px 0;
    font-weight: 500;
}
.share_holder_widget .wrap ul li p {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
    width: 85%;
    padding: 0 0 10px 0;
}
.share_holder_widget .wrap ul li a.read_more {
    font-size: 14px;
    text-transform: uppercase;
    color: #fbb514;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

@media screen and (max-width: 780px) {

    .share_holder_widget .wrap ul li h6 {
        font-size: 14px;
        padding: 0px 0 5px 0;
    }
    .share_holder_widget .wrap ul li .col_left {
    width: 50%;
}
    .share_holder_widget .wrap ul li .col_right {
    width: 48%;
    padding-top: 15px;
}
    .share_holder_widget .wrap ul li p {
    font-size: 12px;
    width: 100%;
    padding: 0 0 0px 0;
}
    .share_holder_widget {
    margin: 7px 0 10px 0;
}

}

@media screen and (max-width: 650px){
.share_holder_widget .wrap ul li .col_left {
    width: 100%;
}
.share_holder_widget .wrap ul li .col_right {
    width: 100%;
    padding: 15px;
}
.share_holder_widget .wrap ul li h6 {
    font-size: 16px;
    padding: 0px 0 5px 0;
}
.share_holder_widget .wrap ul li p {
    font-size: 14px;
    width: 100%;
    padding: 0 0 5px 0;
}
}
