.cookies_section {
        background: #fff;
    padding: 15px 15px 0 15px;
    width: 60%;
    position: fixed;
    bottom: 0;
    z-index: 999999;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    opacity: 1;
        box-shadow: 1px 1px 20px -3px #777;

}
.border {
    border:1px solid #666;
    border-bottom:none;
    padding-bottom:20px;
}
.close_cookie {
    background: #ffde5a !important;
    font-size: 12px !important;
    padding: 4px 8px !important;
    position: absolute;
    right: -15px;
    top: -25px;
    width: auto !important;
    font-weight: bold !important;
    color: #000 !important;
    border-radius: 50%;
    border: 2px solid #fff !important;
}
.cookies_section h3 {
    color: #000000;
    font-size: 15px;
    text-align: center;
    margin: 2px 0 0 0;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:15px;
}
.cookies_section p {
    color: #000000;
    padding: 2px 20px;
    text-align: center;
    font-size: 13px;
    margin: 0 auto;
    width: 84%;
}
.cookies_section button {
        background: #015b96;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;

    }
.cookies_controls {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 4px;
}
.read-cookie {
        background: #595757;
        box-shadow: none;
        color: #ffffff;
        border: 0;
        text-align: center;
        font-size: 12px;
        padding: 3px 10px 4px 10px;
        margin:0 5px;
            width: 192px;
}
.cookies_section a {
   background: #015b96;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
}
.read-cookie:hover{
    color: #ffffff;
    text-decoration: none;
}
.cookies_controls button {
    color: #fff;
}
@media only screen and (max-width: 650px) {
.cookies_section {
    width: 90%;
}
.read-cookie {
    background: #595757;
    box-shadow: none;
    color: #ffffff;
    border: 0;
    text-align: center;
    font-size: 12px;
    padding: 3px 10px 4px 10px;
    float: left;
    width: 62% !important;
        margin: 2px 10px 0 54px !important;
}
.cookies_section p {
    width: 90%;
}
.allow-cookie {
        width: 50%;
    margin: 2px 10px 0 72px !important;
    float: left;
}
}