.download-wg {
    width: 100%;
    float: left;
    background: #eaebec;
    padding: 20px;
 margin-bottom: 15px;
}
.download-wg .bx-wrapper {
    margin: 0 auto;
}

.download-wg ul {
    padding: 0;
    margin: 0;
    text-align: center;
}
    .download-wg ul li {
        list-style: none;
        padding: 20px 0;
    }


    .download-wg ul li img {
        width: 100%;
        border: 4px solid #fff;

    }
        .download-wg ul li img.download-icon-xx {
            width: auto;
            border: none;
            float: right;
            padding-left: 10px;
            padding-top: 5px;
        }
		.download-wg .bx-wrapper .bx-next {
    left: 10px;
	right: inherit;
	 background: url(../images/press_prev_btn.png) no-repeat !important;
   
}
.download-wg .bx-wrapper .bx-prev {
    right: 10px ;
	left: inherit;
    background: url(../images/press_next_btn.png) no-repeat !important;
}
.bx-wrapper .bx-controls-direction a {
    color: transparent;
}

.download-wg h4 {
    color: #343d47;
    font-size: 20px;
    margin: 10px 0;
    font-weight: 600;
    border-bottom: 1px solid #827e7e;
    padding-bottom: 12px;
    text-transform: uppercase;
	text-align: right;
    direction: rtl;
}

.download-wg a {
    font-size: 14px;
    text-align: right;
    float: right;
    padding: 20px 0 0 0;
    color: #343d47;
    font-weight: 600;
}
@media screen and (max-width: 800px) {
.download-wg ul li img {
    width: 70%;
}
}

@media screen and (max-width: 650px) {
.download-wg ul li img {
    width: 100%;
}
}