.error-home-link {
    width: 100%;
    float: left;
    padding: 15px;
    background: #f6ce3c;
	    margin-bottom: 20px;
}
.error-home-link a {
    text-align: center !important;
    width: 100% !important;
    float: left;
    color: #343d47 !important;
    text-transform: uppercase;
    position: relative;
    background: none !important;
    margin: 0 !important;
    padding: 0 !important;
    height: auto !important;
}
.error-home-link a:after {
    position: absolute;
    content: "";
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #343d47;
    margin-left: 12px;
    top: 16px;
    z-index: 9999;
}

.error-page .container .error-banner {
    padding-bottom: 0;
}

.careers.error-page .container {
    padding: 0;
}

@media only screen and (max-width:650px) {
    .error-home-link {
    padding: 5px 0;

}
    .error-home-link a:after {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #343d47;
    margin-left: 8px;
    top: 13px;

}
    .error-home-link a {
    font-size: 12px;
}

}
