.search-wrap {
    z-index: 99
}

.aboutus .second-section .col-two ul li .timeline {
    background: url(../images/timeline-green-aboutus.png) bottom center no-repeat;
    height: 124px;
    margin-bottom: 40px
}

.aboutus .second-section .col-two ul {
    margin-left: 11px
}

.aboutus .second-section .col-two ul li .timeline a.selected,
.aboutus .second-section .col-two ul li .timeline:hover {
    background: url(../images/timeline-grey-aboutus.png) bottom center no-repeat;
    height: 145px;
    margin-bottom: 0
}

.aboutus .second-section .col-two ul li p {
    font-size: 1.75em;
    color: #0c4b88;
    font-weight: 700;
    padding-top: 15px;
    font-family: 'Open Sans', sans-serif
}

.aboutus .second-section .col-two ul li:hover p {
    color: #b2b4b3;
    padding-top: 15px
}

.aboutus .second-section .col-two ul li {
    width: 135px;
    margin-left: -10px
}

.navbar .wrap nav ul li.active a {
    background: 0 0
}

.navbar .wrap nav ul li a.active,
.navbar .wrap nav ul li a:hover {
    background: url(../images/megamenu-arrow.png) center 44px no-repeat!important;
    color:#ffde5a;
}

.navbar .wrap .sub-menu {
    background: #015b97;
    padding: 15px 0;
}
#menu-0,
#menu-1,
#menu-2,
#menu-3,
#menu-4,
#menu-5,
#menu-6 {
    padding-left: 15px;
}

.megamenu_section {
    width: 100%;
    float: left;
    background: url(../images/megamenu-arrow.png) center 36px no-repeat!important
}

.megamenu_section .wrap {
    width: 100%;
    max-width: 100%;
    margin: 0 auto
}

.megamenu_section .wrap ul {
    margin: 0!important;
    padding: 0!important;
    text-align: center;
    float: none!important
}

.megamenu_section .wrap ul li {
    float: left!important;
    width: 33%;
    padding-bottom: 20px
}

.megamenu_section .wrap ul li .col_left {
    width: 50%;
    float: left
}

.megamenu_section .wrap ul li .col_right {
    width: 50%;
    float: right;
    text-align: left
}

.megamenu_section .wrap ul li .col_right h3 {
    color: #e8e8e8;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0;
    margin: 3px 0;
    background: 0 0
}

.megamenu_section .wrap ul li .col_right p {
    color: #e8e8e8;
    font-size: 12px;
    text-transform: none;
    margin: 0
}

.aboutus .second-section .col-one p {
    padding: 0 45px 0 50px;
    visibility: hidden
}

.top-scroll {
    background: #f6ce3c!important;
    color: #005b95!important;
    font-size: 12px;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 2%;
    bottom: 2%;
    z-index: 9999;
    text-align: center;
    padding: 10px;
    transition: all .4s ease-in-out;
    text-decoration: none;
    font-weight: 500;
    -webkit-animation: fadeUp 1s;
    -moz-animation: fadeUpn 1s;
    -o-animation: fadeUp 1s;
    animation: fadeUp 1s;
    display: none;
    -webkit-overflow-scrolling: touch
}

.top-scroll i {
    transition: all .2s linear;
    display: block;
    padding-bottom: 9px;
    text-align: center
}

.glyphicon-chevron-up:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #005b95!important;
    margin-left: -5px;
    top: 12px
}

.fixed-header .logo {
    top: 2px;
    position: relative
}

@media screen and (max-width:1200px) {
    .aboutus .container {
        max-width: 98%!important
    }
    .G_and_M .container,
    .awards .container,
    .careers .container,
    .events .container,
    .media-contact .container,
    .privacy-policy .container {
        max-width: 98%
    }
    .navbar .wrap nav ul li a.active,
    .navbar .wrap nav ul li a:hover {
        background: url(../images/megamenu-arrow.png) center 28px no-repeat!important
    }
    .megamenu_section .wrap ul li .col_right h3 {
        font-size: 13px;
        margin: 0
    }
    .search-wrap {
        width: 160px
    }
    .megamenu_section .wrap ul li .col_left {
        width: 40%
    }
    .megamenu_section .wrap ul li .col_right {
        width: 53%
    }
    .aboutus .second-section .col-two ul {
        margin-left: 15px
    }
    .aboutus .second-section .col-two ul li {
        width: 112px;
        margin-left: -12px
    }
    .aboutus .second-section .col-two ul li .timeline {
        background: url(../images/timeline-green-tab.png) bottom center no-repeat
    }
    .aboutus .second-section .col-two ul li .timeline a.selected,
    .aboutus .second-section .col-two ul li .timeline:hover {
        background: url(../images/timeline-grey-tab.png) bottom center no-repeat;
        height: 141px
    }
    .aboutus .second-section .col-two {
        height: 340px
    }
    .aboutus .second-section .col-one p {
        padding-right: 18px
    }
}

@media screen and (max-width:1000px) {
    .megamenu_section .wrap ul li {
        width: 50%
    }
}

@media screen and (max-width:780px) {
    .navbar .wrap nav ul li a.active,
    .navbar .wrap nav ul li a:hover {
        background: 0 0!important
    }
    .G_and_M .container,
    .awards .container,
    .careers .container,
    .events .container,
    .media-contact .container,
    .privacy-policy .container {
        max-width: 90%
    }
    .search-wrap {
        display: none!important
    }
    .breadcrumbs {
        display: none
    }
    .share-mob {
        clear: both
    }
    .careers .container #btnJobOpp.btnTaleo {
        margin-bottom: 40px
    }
    .aboutus .container {
        max-width: 90%!important
    }
    .aboutus .second-section .col-two ul {
        margin: 0 auto
    }
    .aboutus .second-section .col-two ul li .timeline {
        background: url(../images/timeline-green-aboutus.png) bottom center no-repeat
    }
    .aboutus .second-section .col-two ul li .timeline a.selected,
    .aboutus .second-section .col-two ul li .timeline:hover {
        background: url(../images/timeline-grey-aboutus.png) bottom center no-repeat;
        height: 145px
    }
    .aboutus .second-section .col-three {
        margin-bottom: 4px
    }
    .aboutus .second-section .col-two ul li {
        width: 135px;
        margin-left: -10px
    }
}

@media screen and (max-width:800px) {
    .page-title {
        padding-top: 130px!important
    }
    .home_slider_section,
    .news_slider_section {
        padding-top: 120px
    }
    .navbar .wrap nav {
        overflow-y: auto!important;
        -webkit-overflow-scrolling: touch!important;
        height: 82%!important
    }
    .sitemap-banner {
        padding-top: 140px
    }
}

@media screen and (max-width:650px) {
    .G_and_M .container .GandM_commitee ol li:before {
        display: none
    }
    .G_and_M .container {
        max-width: 94%
    }
    .aboutus .container {
        max-width: 94%!important
    }
    .aboutus .second-section .col-two ul {
        margin-left: 35px
    }
    .aboutus .second-section .col-two ul li {
        width: 112px;
        margin: -6px
    }
    .aboutus .second-section .col-two ul li .timeline {
        background: url(../images/timeline-green-tab.png) bottom center no-repeat
    }
    .aboutus .second-section .col-two ul li .timeline a.selected,
    .aboutus .second-section .col-two ul li .timeline:hover {
        background: url(../images/timeline-grey-tab.png) bottom center no-repeat;
        height: 141px
    }
    .share_holder_widget {
        margin: 7px 0 30px!important
    }
    .G_and_M .page-title h3 {
        font-size: 2.2em
    }
    .G_and_M .container .team-members-tab {
        margin-bottom: 0
    }
    .G_and_M .container .GandM_commitee ol li a {
        width: 100%!important;
        font-size: 18px
    }
    .G_and_M .page-title {
        padding-top: 130px!important
    }
    .strategy .container .text-bottom {
        margin: -10px 0 40px!important
    }
    .privacy-policy .container {
        max-width: 94%
    }
    .AnnualReport .container .col-right {
        margin-bottom: -30px
    }
    .media-contact .media-contact-wrap .media-contact-form {
        margin-bottom: -35px
    }
    .careers .container #btnApplyNow.btnTaleo {
        margin-bottom: 40px
    }
    .careers .container #btnJobOpp.btnTaleo {
        margin-bottom: 20px
    }
    .newsletter_subscription ul li button,
    .newsletter_subscription ul li input {
        width: 289px!important
    }
    .newsletter_subscription {
        padding: 10px 10px 20px 48px!important;
        max-width: 94%!important
    }
    .navbar .wrap nav {
        height: 86%!important
    }
    .top-scroll {
        right: 3%!important;
        bottom: 6%!important
    }
    .sitemap-banner {
        padding-top: 140px
    }
}

@media screen and (max-width:380px) {
    .newsletter_subscription ul li input {
        width: 252px!important
    }
    .newsletter_subscription ul li button {
        font-size: 13px;
        width: 251px!important
    }
    .newsletter_subscription {
        padding: 10px 10px 20px 50px!important
    }
    .navbar .wrap nav {
        height: 83%!important
    }
}

@media screen and (max-width:360px) {
    .aboutus .second-section .col-two ul {
        margin-left: 20px!important
    }
    .newsletter_subscription {
        padding: 10px 10px 20px 43px!important
    }
    .navbar .wrap nav {
        height: 82%!important
    }
}

@-moz-document url-prefix() {
    .navbar .wrap nav ul li a.active,
    .navbar .wrap nav ul li a:hover {
        background: url(../images/megamenu-arrow.png) center 35px no-repeat!important
    }
}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
    .newsletter_subscription ul li input {
        text-transform: uppercase
    }
    .glyphicon-chevron-up::before {
        margin-left: 10px!important
    }
}