p {
    font-size: 18px!important;
}
a {
    font-size: 18px!important;
}
span {
     font-size: 18px!important;
}
header .right-col {
    width: 62%;
}
.navbar.fixed-header .wrap {
    max-width: 78.3em;
}
.body-head h3 {
    font-size: 22px;
}
.body-head h2 {
    font-size: 52px;
}
.we-are .right-content p {
    padding-top: 5px;
}
.our-assets-inner .globe_img_cnt h2 {
    font-size: 32px;
}
.news-desc .date h2 {
    font-size: 62px;
}
.careers-growth h3 {
    font-size: 27px;
}
.careers-growth h2 {
    font-size: 52px;
}
.quick-links .links .wrap .col h3 {
    font-size: 18px;
}
.quick-links .links .wrap .col li a {
    font-size: 16px !important;
	line-height: 20px !important;
}
.form-control {
    font-size: 16px;
}
footer .wrap .left-col ul li {
    font-size: 16px;
}
footer .wrap .left-col ul li a {
    font-size: 16px !important;
}
.home_slider_section .slider h3.caption {
    font-size: 52px !important;
}
.assets-right-content .assets-sec h2 {
    font-size: 62px !important;
}
.assets-right-content .assets-sec h2 sub {
    font-size: 20px;
}
.search-wrap input.search-box {
    font-size: 16px;
}
.gw-power h2 {
    font-size: 62px;
}
.slider-caption-right-sec .water {
    width: 365px;
	    top: 55.4%;
}
.gw-power {
    width: 365px;
}
.mem-details h6 {
    font-size: 20px;
}
.our-leaders .mem-status-desc p {
    line-height: 24px;
}
.cmp_vid_heading h4 {
    font-size: 26px;
}
.brch_link h5 {
    font-size: 26px;
}
.dates .selected {
    font-size: 20px !important;
}
.breadcrumbs-sec ul li {
    font-size: 16px;
}
.mv-desc h3 {
    font-size: 22px;
}
.mv-desc h2 {
    font-size: 52px;
}
.value-right-desc li {
    font-size: 18px;
    margin-bottom: 15px;
}
.value-desc-text {
    padding-top: 0;
}
.board-sec p {
    font-size: 16px !important;
}
.mem-status-desc h6 {
    font-size: 18px;
}
.corporate-desc-right p {
    font-size: 25px !important;
}
.commitee-head h3 {
    font-size: 20px;
}
.principle-count-left p {
    font-size: 62px !important;
}
.principle-count-right h3 {
    font-size: 25px;
}
.mem-details p {
    font-size: 16px !important;
}
.filter-group .selectboxit-container span, .filter-group .selectboxit-container .selectboxit-options a {
    font-size: 15px !important;
}
.t-header .tabs li span {
    font-size: 14px !important;
}
.btn-filterbox span {
    font-size: 12px !important;
}
.project-header h3 {
    font-size: 24px;
}
.view-all-pro {
    font-size: 16px !important;
}
.filter-control {
    font-size: 15px;
}
.t-header .tabs li {
    padding: 24px 0 23px 0;
}
.content-wrpaer h2 {
    font-size: 18px;
}
.news-header h3 {
    font-size: 19px !important;
}
.news-content a {
    font-size: 14px !important;
}
.news-list .btn-link {
    font-size: 14px !important;
    background-position: 92px 4px !important;
}
.count-number {
    font-size: 47px !important;
}
.count-type {
    font-size: 15px;
}
.t-header .tabs li:last-child {
    padding: 40px 0;
}
.col-checkbox {
    padding-left: 0;
}
.header-withunderline h3 {
    font-size: 22px;
}
.accordion-wraper .accordion {
    font-size: 16px;
}
.header-withunderline h3 {
    font-size: 24px;
}
.article-widgets-body p {
    font-size: 16px !important;
}
.header-withunderline h3 {
    font-size: 26px;
}
.lw-lable {
    font-size: 16px;
}
.lw-value {
    font-size: 16px;
}
.content_hotspot_heading {
    font-size: 19px;
}
.content_hotspot_content_heading {
    font-size: 16px;
}
.content-hotspot-widget .content-hotspot-widget-wrap p {
    font-size: 15px;
}
.content-hotspot-widget .content-hotspot-widget-wrap a {
    font-size: 16px;
}
.impt_cnt .impt-heading h5 {
    font-size: 27px;
    margin: 0px 0 0 10px;
}
.impt_cnt ul li {
    font-size: 18px;
}
.mCustomScrollbar .annual_list li .content h4 {
    font-size: 17px;
}
.col-left h2 {
    font-size: 27px;
}
.assets-right-content .assets-sec h2 {
    font-size: 64px !important;
}
.assets-right-content .assets-sec {
    font-size: 18px;
}
.our-assets-inner .globe_img_cnt h2 {
    font-size: 34px;
}
.press-release-heading h4 {
    font-size: 22px;
}
.IR-pr-rl-date h5 {
    font-size: 62px;
}
.featured-projects .grid-item {
    height: 380px !important;
}
.featured-projects ul.grid {
    margin-bottom: 30px;
}
.assets-right-content .assets-sec span {
    font-size: 62px !important;
}
.IR-content-wrap .intro-cnt h3 {
    font-size: 20px;
}
.webcast-list .date h6 {
    font-size: 16px;
}
.webcast-list .date h2 {
    font-size: 62px;
}

@media screen and (max-width: 1280px){
	.gw-power {
		bottom: 43.5%;
	}
	.navbar .wrap nav ul li a:hover {
		background: url(../images/megamenu-arrow.png) center 46px no-repeat!important;
	}
	header .left-col {
		right: 0;
	}
	.header_wrap > .wrap:after {
		width: 1.5%;
	}
	.navbar .wrap nav ul li a {
		padding: 12px 14px 18px 14px;
	}
	.header_wrap:after {
    width: 86.4%;
	}
	.search-wrap {
		width: 285px;
	}
	.fixed-header .sticky-header-logo {

    margin: 0 54px 0 20px;
}
}