
h1, h2, h3, h4, h5, h6, a, p, span {
    color : black!important;
}
body {
    background:#808080 !important;
}
img {
    -webkit-filter: grayscale(1);
filter: grayscale(100%);
}
.navbar .wrap nav ul li a {
    color:#fff !important;
}
.home_slider_section .slider p {
    color:#fff !important;
}
.home_slider_section .slider h3.caption {
    color:#fff !important;
}
.home_slider_section .slider .inner-slider-caption p {
    color:#fff !important;
}
.breadcrumbs-sec ul li.active {
        color: #015b97;
}
.home_slider_section .slider .slider-caption p:first-child {
        color: #ffde5a !important;
}